.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	width: 60%;
	height: 400px;
	color: hsl(193, 38%, 86%);
	background-color: hsl(217, 19%, 24%);
	border-radius: 4px;
	text-align: center;
}

.container img {
	width: 80%;
	margin-top: 250px;
}

.advice {
	color: hsl(150, 100%, 66%);
}

.circle {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: hsl(150, 100%, 66%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -25px;
}

.circle:hover {
	cursor: pointer;
}
